@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://wallpapercave.com/wp/dxXh4Ss.jpg");
  background-size: cover;
  padding: 1rem;
  min-height: 100vh;
  width: auto;
}

.container h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid white;
}

.details {
  background-color: rgba(0, 0, 0, 0.678);
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 1rem;
  width: max-content;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
}

.details p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
