.details {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 1rem;
  width: max-content;
  padding: 1rem;
}

.details p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
