* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  background-image: url("https://wallpapercave.com/wp/dxXh4Ss.jpg");
  background-size: cover;
}

@import 'fonts';
@import 'header';
@import 'container';
@import 'details';
@import 'map';
@import 'title';
@import 'loading';
